#app {
    display: grid;
    grid-template-areas:
        'navbar navbar'
        'drawer content';
    grid-template-columns: $sidebar-width calc(100% - $sidebar-width);
    grid-template-rows: $navbar-height calc(100% - $navbar-height);

    @include lg() {
        grid-template-columns: $sidebar-width-collapsed 1fr;
    }

    @include sm() {
        grid-template-areas:
            'navbar'
            'content';

        grid-template-columns: 1fr;
    }
}

#navbar {
    grid-area: navbar;
}

#content {
    grid-area: content;
}

#drawer {
    grid-area: drawer;
}
