#app {
    display: grid;
    grid-template-areas:
        'navbar navbar'
        'drawer content';
    grid-template-columns: $sidebar-width calc(100% - $sidebar-width);
    grid-template-rows: $navbar-height calc(100% - $navbar-height);

    @include lg() {
        grid-template-columns: $sidebar-width-collapsed calc(
                100% - $sidebar-width-collapsed
            );
    }

    @include sm() {
        grid-template-areas:
            'navbar'
            'content';

        grid-template-columns: 1fr;
    }

    &.no-drawer {
        grid-template-areas:
            'navbar'
            'content';

        grid-template-columns: unset;

        #drawer {
            display: none;
        }
    }

    width: 100%;
    overflow-x: hidden;
}

#navbar {
    grid-area: navbar;
}

#content {
    grid-area: content;
    height: 100%;
    overflow-y: scroll;
}

#drawer {
    grid-area: drawer;
}
