// Colors
$primary: #181818;
$secondary: #202020;
$tertiary: #383838;

// Size layout
$navbar-height: 56px;

$sidebar-width: 240px;
$sidebar-width-collapsed: 72px;

$chip-bar-height: 56px;

// Breakpoints
$breakpoint-xs: 510px; // 1 row video
$breakpoint-sm: 807px;
$breakpoint-md: 992px;
$breakpoint-lg: 1329px;
$breakpoint-xl: 1600px;
